body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
	}
	
	
	
.slidecontainer{
	
	width:25%;
	margin:auto;
	
}
.slider {
	
	
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}
	
.buttona {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 10px 2px 0 2px;
}

.buttona.active {
    background-color: #F8F8FF;
    color: #525252;
}
figcaption{
	float:left;
}
#move{
	padding-right:10px;
	
	width:80%;
	transform:scale(2.3) rotate(90deg);
}
.buttona a {
    text-decoration: none;
    color: black;
}
#start_form{
	position:relative;
	left:21vw;
}
#start_first{
	border:4px solid;
    border-radius:5px;
    width: 110px;
	font-family:Open Sans;
	font-size:30px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    
    background-color: #DCDCDC;
    color: black;
	margin:auto;
	}
	
	#start_first:hover{
		background-color: #F8F8FF;
    color: #525252;
	cursor:pointer;
	}
	

	
#no_of_questions{
	float:left;
	text-align:center;
	
	width:73px;
	
}

#container {
    width:50%;
	height:91vh;
	
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
   
}

#start {
   width:90px;
  display:inline;
}